@import "./globals";

.app {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
}

form {
    max-width: 350px;
}

.broj {
  margin: 0.5em;
  padding: 0.5em;
  box-shadow: 0px 4px 10px -10px;
  background: $menu-accent-bcg;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.red {
    margin: 1em 0;
    height: fit-content;

}
